{% extends 'base.html' %}
{% block content %}
    <h1>Preguntas</h1>
    <div class="d-flex flex-column">
        {% for question in questions %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <i class="far fa-question-circle" title="{{ question.description }}"></i>
                        <span class="fw-bold">{{ question.title }}</span>                        
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                        <u class="fw-lighter mb-1">Respuesta</u>
                        <div id="question-answer-url" data-url="{% url 'survey:question-answer' %}">
                            {% for val in '12345' %}
                                <a class="mx-1 answer question-{{ question.pk }} {% if question.answer|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                   data-question="{{ question.pk }}"
                                   data-value="{{ val }}" href="#"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column ">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div id="question-like-url" data-url="{% url 'survey:question-like' %}">
                            <a class="mx-1 like question-{{ question.pk }} {% if question.like %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="like" ></a>
                            <a class="mx-1 dislike question-{{ question.pk }} {% if question.dislike %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="dislike"></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                           {{ question.ranking }} pts.
                        </div>


                    </div>
                </div>
            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {            
            
            // Función para manejar la clasificación de estrellas
            $('.answer').on('click', function () {
                var questionPk = $(this).data('question');
                var value = $(this).data('value');
                // Desmarca todas las estrellas de la pregunta actual
                $('.question-' + questionPk + '.answer').removeClass('fas').addClass('fal');
                // Cambia la clase para la estrella actual
                $(this).toggleClass('fas fal');
                sendRatingData(questionPk, value);
            });

            // Función para manejar los likes
            $('.like').on('click', function () {
                var questionPk = $(this).data('question');
                 // Desmarca el dislike
                 $('.question-' + questionPk + '.dislike').removeClass('fas').addClass('fal');
                 // Cambia la clase el like
                 $(this).toggleClass('fas fal');     
                sendLikeData(questionPk, 'like');
            });

            // Función para manejar los dislikes
            $('.dislike').on('click', function () {
                var questionPk = $(this).data('question');
                 // Desmarca el like
                 $('.question-' + questionPk + '.like').removeClass('fas').addClass('fal');
                // Cambia la clase el dislike
                 $(this).toggleClass('fas fal');
                sendLikeData(questionPk, 'dislike');
            });

            function sendLikeData(questionPk, value) {
                var url = document.getElementById('question-like-url').getAttribute('data-url');
                var csrf_token = "{{ csrf_token }}";
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'question_pk': questionPk,
                        'value': value,
                        'csrfmiddlewaretoken': csrf_token
                    },
                    success: function (response) {
                        if (response.ok) {
                            console.log('Operación exitosa');
                        } else {
                            console.error('Error en la operación:', response.error);
                        }
                    },
                    error: function () {
                        console.error('Error en la petición AJAX');
                    }
                });
            }

            function sendRatingData(questionPk, value) {
                var url = document.getElementById('question-answer-url').getAttribute('data-url');
                var csrf_token = "{{ csrf_token }}";
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'question_pk': questionPk,
                        'value': value,
                        'csrfmiddlewaretoken': csrf_token
                    },
                    success: function (response) {
                        if (response.ok) {
                            console.log('Operación exitosa');
                        } else {
                            console.error('Error en la operación:', response.error);
                        }
                    },
                    error: function () {
                        console.error('Error en la petición AJAX');
                    }
                });
            }
        });

    </script>

{% endblock %}