{% extends 'base.html' %}

{% block content %}
    <h3>Hacer pregunta</h3>
    <div class="d-flex">       
        <form method="post">{% csrf_token %}
            {{ form.title.label_tag }}
            <br>
            {{ form.title }}
            <br>
            {{ form.description.label_tag }}
            <br>
            {{ form.description }}
            <br>   
            <hr>            
            <div class="d-flex justify-content-between">
                <input class="btn btn-primary" type="submit" value="Guardar">
                <button type="button" class="btn btn-danger" 
                onclick="javascript:history.back()">
                Cancelar
                </button>
            </div>   
        </form> 
    </div>
    
   
       
{% endblock %}